---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import Logo from "@/layouts/components/Logo.astro";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class="mt-20 bg-light py-6">
  <div class="container text-center">
    <div class="row items-center">
      <div class="lg:col-4">
        <Logo />
      </div>
      <div class="mt-8 lg:col-4 lg:mt-0">
        {/* footer menu */}
        <ul class="space-x-4">
          {
            menu.footer.map((menu) => (
              <li class="inline-block">
                <a
                  href={menu.url}
                  class="text-[#343a40] hover:underline lg:p-4"
                >
                  {menu.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      {/* social icons */}
      <div class="mt-8 lg:col-4 lg:mt-0">
        <Social source={social} className="social-icons" />
      </div>
    </div>

    {/* copyright */}
    <p
      class="footer-copyright-text mt-10"
      set:html={markdownify(config.params.copyright)}
    />
  </div>
</footer>
