.btn {
  @apply inline-block border px-5 py-2 font-semibold transition cursor-pointer;
}

.btn-primary {
  @apply bg-primary font-normal capitalize leading-[30px] text-white;
}

.btn-outline-primary {
  @apply border-primary bg-transparent hover:bg-primary hover:text-white;
}
