/* section style */
.section {
  @apply py-20;
}

/* container */
.container {
  @apply mx-auto! max-w-[1140px]! px-3!;
}

/* banner */
.banner {
  @apply relative bg-cover bg-center bg-no-repeat py-[100px] lg:pt-[230px] lg:pb-28;
}

.banner-illustration {
  @apply lg:absolute lg:right-8 lg:bottom-0;
}

@media screen and (min-width: 992px) and (max-width: 1600px) {
  .banner-illustration {
    @apply max-w-[600px];
  }
}

.banner-illustration img {
  @apply w-full;
}


/* social icon style */
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-11 w-11 border border-primary bg-body text-center text-primary transition-all duration-300 hover:bg-primary hover:text-body;
      svg {
        @apply m-auto h-11 text-2xl;
      }
    }
  }
}

/* notice */
.notice {
  @apply mb-6 border px-8 py-6;
}

.notice-head {
  @apply flex items-center;
}

.notice-head svg {
  @apply mr-3;
}

.notice-head p {
  @apply font-secondary text-xl font-semibold text-text-dark;
}

.notice-body {
  @apply mt-3;
}

.notice-body p {
  @apply my-0;
}

.notice.note {
  @apply text-[#1B83E2];
  @apply border-current;
}

.notice.tip {
  @apply text-[#40D294];
  @apply border-current;
}

.notice.info {
  @apply text-[#E3A72C];
  @apply border-current;
}

.notice.warning {
  @apply text-[#DB2C23];
  @apply border-current;
}

/* tab */
.tab {
  @apply overflow-hidden border border-border;
}

.tab-nav {
  @apply flex border-b border-border bg-light !m-0 !list-none;
}

.tab-nav-item {
  @apply cursor-pointer border-b-[3px] border-border py-2 text-lg text-text-dark opacity-80 !my-0 !px-8;
}

.tab-nav-item.active {
  @apply border-b-[3px] border-primary opacity-100;
}

.tab-content {
  @apply px-5;
}

.tab-content-panel {
  @apply p-8;
}

.tab-content-panel p {
  @apply mb-0;
}

.tab-content-panel.active {
  @apply block;
}

/* accordion */
.accordion {
  @apply mb-6 overflow-hidden border border-border bg-light;
}

.accordion-header {
  @apply flex w-full cursor-pointer items-center justify-between px-8 py-4 text-lg text-text-dark;
}

.accordion-icon {
  @apply h-[.8em] w-[.8em] rotate-[-90deg] transition-transform duration-200;
}

.accordion-content {
  @apply max-h-0 overflow-hidden px-8 py-0;
}

.accordion.active .accordion-icon {
  @apply rotate-0;
}

.accordion.active .accordion-content {
  @apply max-h-screen;
}

/* content style */
.content {
  @apply prose max-w-none;
  @apply prose-headings:mt-[.5em] prose-headings:mb-[.9em] prose-headings:font-bold prose-headings:text-text-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-hr:border-border;
  @apply prose-p:text-base prose-p:text-text;
  @apply prose-a:text-primary prose-a:no-underline prose-a:hover:underline;
  @apply prose-img:max-w-full;
  @apply prose-strong:text-text-dark;
  @apply prose-hr:border-border;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-none;
  @apply prose-blockquote:border-primary prose-blockquote:bg-light prose-blockquote:py-1 prose-blockquote:px-4;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:border prose-table:before:border-border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-text-dark;
  @apply prose-tr:border-border;
  @apply prose-ul:list-none;
  @apply prose-ol:list-none;
  @apply prose-td:px-3 prose-td:py-4;
  @apply prose-li:relative prose-li:text-text prose-li:before:absolute prose-li:before:-left-6 prose-li:before:top-2 prose-li:before:h-[22px] prose-li:before:w-6 prose-li:before:bg-[url('/images/pointing-right.svg')] prose-li:before:bg-[length:20px_16px] prose-li:before:bg-no-repeat prose-li:before:content-[''];
}
