.header {
  @apply top-0 left-0 z-40 w-full py-3.5 transition-all duration-300;
}

.header-sticky {
  @apply bg-body shadow-[0_0_10px_rgba(0,0,0,.161)];
}

/* navbar items */
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-text-dark;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center md:text-left;
}

.nav-item {
  @apply mx-1;
}

.nav-link {
  @apply p-2 font-normal text-text-dark transition hover:text-primary md:p-3;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-white p-4 shadow;
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply min-w-[150px] py-1 text-lg font-normal text-text-dark transition hover:text-primary;
}

/* search style */
.search-icon {
  @apply cursor-pointer p-2 text-xl text-text-dark hover:text-primary;
}

.search-modal {
  @apply invisible absolute top-0 left-0 right-0 z-10 h-10 bg-white opacity-0 transition md:h-full;
}

.search-modal .form-input {
  @apply h-full w-full border-0 text-lg;
}

.search-modal .search-close {
  @apply absolute top-1/2 right-2 -translate-y-1/2 p-3 text-h4;
}

.search-modal.open {
  @apply visible opacity-100;
}
