/* navbar toggler */
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

/* form style */
.form-input {
  @apply h-[50px] border border-border placeholder:text-text focus:border-primary focus:ring-transparent;
}

.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}
